.dropdown-control {
    display: flex;
}

.dropdown-control>* {
    padding: 0;
    margin: 0;
}

.dropdown-control_select {
    width: 100%;
    border-color: #F7D0CB;
    border-width: 1px;
    border-radius: 3px;
    border-style: solid;
    height: 28px;
}

.dropdown-control_select:focus {
    -webkit-box-shadow: 1px 1px 8px 1px #F6D9D5;
    box-shadow: 1px 1px 8px 1px #F6D9D5;
    outline: #F6D9D5;
}