@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap&subset=cyrillic');
.input-control {
    display: flex;
}

.input-control>* {
    padding: 0;
    margin: 0;
}

.input-control input {
    width: 100%;
    border-color: #F7D0CB;
    border-width: 1px;
    border-radius: 3px;
    border-style: solid;
    height: 26px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.input-control input:focus {
    -webkit-box-shadow: 1px 1px 8px 1px #F6D9D5;
    box-shadow: 1px 1px 8px 1px #F6D9D5;
    outline: #F6D9D5;
}